head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Messtechnik

    link(href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet")
    link(href="css/index.css" rel="stylesheet")
