div(class="title m-b-md" onclick="window.location='/'") Messtechnik
div(class="links m-b-md")
    a(href="/torres") Relatório EPE
    a(href="#") Monitoramento
    a(href="#") Notícias
    a(href="http://www.messtechnik.com.br" target="_blank" rel="noopener noreferrer") Site
    a(href="http://192.168.1.253" target="_blank" rel="noopener noreferrer") NAS
    a(href="https://stackoverflow.com/" target="_blank" rel="noopener noreferrer") SO
    a(href="https://github.com/Daniwenzel/sismms" target="_blank" rel="noopener noreferrer") Github